@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url('app/styles/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
}